{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="background">
      <div class="jumbotron text-center ">
      <div class="container">
        <div class="row">
            <div class="col s12">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
        </div>
        </div>
        </div>
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
    (A(request.function+'()',_href='#'),
    A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
    _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
    A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
    _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="card">
    <div class="card-content">
        <h3 class="card-title">
            <a class="btn-block" href="{{=URL('admin','default','index')}}">
            <i class="material-icons">settings</i>
            {{=T("admin")}}
            </a>
        </h3>
        <ul class="collection with-header">
        <li class="collection-header"> {{=T("Don't know what to do?")}}</li>
        <li class="collection-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
        <li class="collection-item"><a href="http://web2py.com">web2py.com</a></li>
        <li class="collection-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
      </ul>
  </div>
</div>
{{end}}
